<header>
  <div class="header-box container d-flex justify-content-between">
    <h4 class="m-1"><%= "IN MY BLOOD" %></h4>
    <div class="function">
      <%= link_to "サインアップ",  new_user_registration_path, class:"btn btn-success m-1" %>
      <%= link_to "ログイン", new_user_session_path,  class:"btn btn-primary m-1" %>
    </div>
  </div>
</header>